@import 'variables.scss';

button {
  background-color: $button-background;
  border: none;
  color: $button-color;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-top: 3px;
  width: 250px;
}

#answer {
  border-radius: 2px;
  font-size: 12px;
  margin: auto;
  overflow: auto;
  text-align: left;
}

#content {
  min-height: 100%;
  text-align: center;
}

// Tablets & desktop
@media only screen and (min-width: 600px) {
  #answer {
    width: 500px;
  }

  #content {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 600px;
  }
}

// Phone: landscape
@media only screen and (max-width: 599px) {

  pre[class*="language-"] {
    padding: 0 !important;
    margin: auto !important;
    width: 380px;
  }

  #answer {
    font-size: 10px;
    width: auto;
  }
}

// Phone: portrait
@media only screen and (max-width: 400px) {

  pre[class*="language-"] {
    padding: 0 !important;
    margin: 0 !important;
    width: auto;
  }

  #answer {
    font-size: 8px;
    margin: auto;
    width: auto;
  }

  #content {
    margin: 0;
    width: 100%;
  }
}
