@import 'variables.scss';

$control-width: 250px;

button {
  background-color: $button-background;
  border: none;
  color: $button-color;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-top: 3px;
  width: $control-width;
}

#question, #tags {
  margin: auto;
  text-align: left;
  width: $control-width;
}

#answer {
  border-radius: 2px;
  font-size: 14px;
  margin: auto;
  overflow: auto;
  text-align: left;
  width: 440px;
}

#content {
  min-height: 100%;
  text-align: center;
  width: auto;
}

#tags {
  color: #8aa1da;
  font-size: 12px;
}

pre[class*="language-"] {
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
}

// Small mobile screens
@media only screen and (max-width: 450px) {
  #answer {
    font-size: 10px;
    width: 99%;
  }
}
